[client]
port                                            = 3306
socket                                          = /var/run/mysqld/mysqld.sock

[mysqld]
user                                            = mysql
port                                            = 3306
pid-file                                        = /db/mysql/mysqld.pid
basedir                                         = /usr/local/mysql
datadir                                         = /db/mysql
tmpdir						= /local/dbtmp
socket                                          = /var/run/mysqld/mysqld.sock
server-id                                       = 1
skip_external_locking
#key_buffer                                      = 8G
max_allowed_packet                              = 1G
table_open_cache                                = 1024
table_definition_cache				= 1024
sort_buffer_size                                = 1M
read_buffer_size                                = 256K
read_rnd_buffer_size                            = 256K
join_buffer_size                                = 256K
#myisam_sort_buffer_size                         = 1G
myisam-recover                                  = FORCE,BACKUP
delay_key_write                                 = OFF
max_connections                                 = 2000
thread_cache_size                               = 512
max_connect_errors                              = 100
tmp_table_size                                  = 32M
max_heap_table_size                             = 32M
wait_timeout                                    = 300
bulk_insert_buffer_size                         = 0
query_cache_type                                = 0
query_cache_size                                = 0

local_infile                                    = 0

#5.6
metadata_locks_hash_instances                   = 16
performance_schema                              = 0
table_open_cache_instances                      = 4
innodb_flush_neighbors                          = 1
explicit_defaults_for_timestamp                 = 1
innodb_buffer_pool_load_at_startup              = ON
innodb_buffer_pool_dump_at_shutdown             = ON
#innodb_log_compressed_pages                    = false

#log-output (TABLE,FILE,NONE - or TABLE,FILE for both tables and files)
log-output					= FILE
log-error                                       = /db/mysql/mysql-error.log
log-warnings                                    = 1
slow-query-log                                  = 1
slow-query-log-file                             = /local/mysql/slow-queries.log
long-query-time					= 3600
#log-queries-not-using-indexes

innodb_stats_on_metadata                        = 0
innodb_stats_sample_pages                       = 2


binlog_cache_size                               = 16777216
#log-slave-updates
#skip-slave-start
expire-logs-days                                = 1
#slave_net_timeout                               = 300

log-bin                                         = /dblog/mysql/db-master-bin.nnnnn
log-bin-index                                   = /dblog/mysql/db-master-bin.index
master-info-file                                = /dblog/mysql/master.info
binlog-format                                   = MIXED

relay-log                                       = /dblog/mysql/db-relay-bin.nnnnn
relay-log-index                                 = /dblog/mysql/db-relay-bin.index
relay-log-info-file                             = /dblog/mysql/relay-log.info

#use these variables after the plugin is installed
default-storage-engine				= InnoDB
innodb_file_format				= barracuda
innodb_strict_mode				= 1
innodb_file_per_table				= 1
#innodb_io_capacity                              =10000
#innodb_use_sys_malloc                           = 0
# ON or 1 (the default), InnoDB will use the malloc and free functions of the underlying system rather than manage memory pools itself.
#innodb_adaptive_hash_index                      = OFF
innodb_read_ahead_threshold                     = 64
innodb_read_io_threads                          = 4
innodb_write_io_threads                         = 4
innodb_old_blocks_pct                           = 10

#value is disabled if innodb_use_sys_malloc=1
#innodb_additional_mem_pool_size                 = 256M
#innodb_log_files_in_group                       = 6
innodb_log_file_size                            = 1G
innodb_buffer_pool_size                         = 1G
innodb_log_buffer_size                          = 16M
#innodb_data_file_path                           = ibdata1:10M:autoextend
innodb_lock_wait_timeout                        = 300
#innodb_log_group_home_dir                      = /db/mysql
innodb_thread_concurrency			= 0
#innodb_concurrency_tickets                      = 5000
#innodb_max_purge_lag                            = 50000

innodb_flush_method 				= O_DIRECT
innodb_flush_log_at_trx_commit                  = 0
#1= default is ACID spec
#2= the log buffer is written out to the file at each commit, but the flush to disk operation is not performed on it

innodb_doublewrite 				= 0
#InnoDB stores all data twice, first to the doublewrite buffer, and then to the actual data files.
#setting innodb_doublewrite=0 turns off the doublewrite

innodb_support_xa 				= 0
#0= disenables InnoDB support for two-phase commit in XA transactions
#1= enable InnoDB support for two-phase commit in XA transactions

[mysql]
no-auto-rehash

[mysqld_safe]
ledir=/usr/local/bin
# Wrapper for numactl
mysqld=mysqld_using_numactl
malloc-lib= /usr/local/mysql/lib/mysql/libjemalloc.so
